<style>
    .header {
        background-color: #333;
        color: #fff;
        padding: 8px;
        text-align: center;
    }

    .header h1 {
        font-size: 36px;
        margin: 0;
    }

    .navbar {
        background-color: #444;
        padding: 10px;
        text-align: center;
    }

    .navbar a {
        color: #fff;
        text-decoration: none;
        margin: 0 20px;
        font-size: 18px;
        transition: color 0.3s;
    }

    .navbar a:hover {
        color: #ff6600;
    }
</style>
<div class="header">
    <h1>CSM</h1>
</div>

<div class="navbar">
    <a href="/">HomePage</a>
    <a href="/createBlog">CreateBlog</a>
</div>