<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSM Page</title>
    <style>
        /* Internal CSS */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }

        .header {
            background-color: #333;
            color: #fff;
            padding: 8px;
            text-align: center;
        }

        .header h1 {
            font-size: 36px;
            margin: 0;
        }

        .navbar {
            background-color: #444;
            padding: 10px;
            text-align: center;
        }

        .navbar a {
            color: #fff;
            text-decoration: none;
            margin: 0 20px;
            font-size: 18px;
            transition: color 0.3s;
        }

        .navbar a:hover {
            color: #ff6600;
        }

        .card-container {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
            margin: 20px;
        }

        .card {
            width: 300px;
            padding: 20px;
            margin: 10px;
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            text-align: center;
        }

        .card-title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .card-subtitle {
            font-size: 18px;
            color: #555;
            margin-bottom: 10px;
        }

        .card-description {
            font-size: 16px;
            line-height: 1.5;
        }
    </style>
</head>

<body>
    <div class="header">
        <h1>CSM</h1>
    </div>

    <div class="navbar">
        <a href="/">HomePage</a>
        <a href="/createBlog">CreateBlog</a>
    </div>

    <div class="card-container">
        <% if (allblogs.length==0) {%>
            <h1>! No Blogs Found !</h1>
            <% }else{ %>
                <% allblogs.forEach((eachBlog)=>{ %>
                    <div class="card">
                        <div class="card-title"><%- eachBlog.title%></div>
                        <div class="card-subtitle"><%- eachBlog.subTitle %></div>
                        <div class="card-description"><%- eachBlog.description%></div>
                        <a href="/blog/<%-eachBlog.id%>">Read More</a>
                    </div>
                    <% }) %>
                        <%}%>

    </div>
</body>

</html>